@model Plenamente.Models.EleProteccion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Crear un nuevo elemento</p>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="centrarContenido">
    Nombre del Elemento:
    <br />
    @Html.EditorFor(model => model.Epro_Nom, new { htmlAttributes = new { @class = "" } })
    <div class="form-group">
        @*Campo de Registro oculto*@
        <label asp-for="CargoRegistro" class="col-md-4 control-label" hidden>@Html.DisplayFor(Model => Model.Epro_Registro)  </label>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
