@model Plenamente.Models.ViewModel.Rhigiene
@{
    ViewBag.Title = "ArchiRH";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>
    Cargar Reglamento de Higiene/h2>
    <div class="container" style="width:40%">
        @using (Html.BeginForm("SaveRecord", "ReglaHigienes", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.DropDownListFor(Model => Model.Empr_Nit, ViewBag.EmpreList as SelectList, "SeleccioneEmpresa", new { @class = "form-control" });

            @Html.TextBoxFor(Model => Model.Rhig_Nom, new { @class = "form-control", @placeholder = "Nombre Regla de Higiene" })
            @Html.TextBoxFor(Model => Model.Rhig_Archivo, new { @class = "form-control", @type = "file" })
            @Html.DisplayFor(Model => Model.Rhig_Registro)

            <input type="submit" value="Guardar Reglamento de Higiene" class="btn btn-block btn-primary" />

        }
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
