@using Plenamente.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
<div class="row">
    <div class="col-md-6 hidden-xs">
       <img src="~/Imagenes/brooke-cagle-1181684-unsplash.jpg" width="100%"/>
    </div>
    <div class="col-md-6 col-sm-6 fadeInDown">
        <div class="row">
            <div class="col-md-4 col-xs-4"></div>
            <div class="col-md-4 col-xs-4">
                <img src="~/Imagenes/Plenamente2.png" width="100%" />
            </div>
            <div class="col-md-4"></div>
        </div>
        <center>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "", placeholder = "Usuario" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "", placeholder = "Contraseña" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-md-12">
                            <input type="submit" value="Iniciar sesión" class="btn btn-default centrarContenido" />
                        </div>
                    </div>
                    <div id="formFooter">
                        <a class="underlineHover">¿Olvidó su contraseña?</a>
                    </div>
                }
            </section>
        </center>
    </div>
        </div>
<div class="fotterPrincipal">
    <div class="textoFotter">
        <div class="imagenesContacto">
            <img src="/Imagenes/marcador-de-posicion.png">
            <img src="/Imagenes/bocadillo.png">
            <img src="/Imagenes/mano-sosteniendo-smartphone.png">
        </div>
        <div class="textoContacto">
            <a class="underlineHover" href="#">Carrera 16 No 31A-27 <br>Bogotá-Colombia</a>
            <a class="underlineHover" href="#">contacto@plenamentetrabajando.com</a>
            <a class="underlineHover" href="#">+57 311 2666 345</a>
        </div>
    </div>
    <div class="redesSociales">
        <a href="#"><img src="/Imagenes/Logo_FB.png"></a>
        <a href="#"><img src="/Imagenes/Logo_INT.png"></a>
        <a href="#"><img src="/Imagenes/Logo_TW.png"></a>
        <a href="#"><img src="/Imagenes/Logo_YT.png"></a>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
