@model IEnumerable<Plenamente.Models.Pregunta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Preguntas</p>
</div>

<div class="contenedorBotones">
    <form asp-action="Index" method="get">
        <input type="text" id="buscarDato" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Buscar" class="btn btn-success tamañoBoton" />
        <a href="Index" class="ayudaTitulos"><span>Ver todos</span><img src="~/Imagenes/binoculares.png" /><p>Ver</p></a>
        <a href="Create" class="ayudaTitulos"><span>Crear cargo individual</span><img src="~/Imagenes/archivo.png" /><p>Crear</p></a>
    </form>
</div>

<table id="tablaVista" class="tablaVista">
    <thead class="cabeceraTabla">
        <tr>
            <th class="colorVerde">
                Titulo de la pregunta
            </th>
            <th class="colorVerde"></th>
        </tr>
    </thead>
    <tbody class="cuerpoTabla">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Preg_Titulo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Preg_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Preg_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Preg_Id })
                </td>
            </tr>
        }
    </tbody>
</table>
