@model Plenamente.Models.ViewModel.ViewModelActividadCumplimiento

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ViewModelActividadCumplimiento</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NombreActividad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NombreActividad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreActividad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Meta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Meta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Meta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaInicial, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaInicial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaInicial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.hora, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.hora, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.hora, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Frecuencia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Frecuencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Frecuencia, "", new { @class = "text-danger" })*@

            <div style="border-bottom: 2px solid #d0d0d0; margin-top:10px; margin-bottom: 10px;"></div>
            <!-- Recurrence section -->
            <script type="text/javascript" src="@Url.Content("~/Scripts/DayPilot/recurrence.js?v=3")"></script>
            repetir:
            <select id="Frecuencia">
                <option value="norepeat">No repetir</option>
                <option value="daily">Diaria</option>
                <option value="weekly">Semanal</option>
                <option value="monthly">Mensual</option>
            </select>

            <div id="select_norepeat" style="display:none">
            </div>
        </div>

        <div id="select_daily">
            Repetir cada <input id="daily_every" style="width: 20px;" value="1" /> dia(s).
        </div>

        <div id="select_weekly">
            Repetir cada <input id="weekly_every" style="width: 20px;" value="1" /> semana(s).
            <div id="select_weekly_error" style="display:none; margin-top: 5px; padding: 2px; background-color: #FFF1A8;">Please select at least one day:</div>
            <br />
            <table>
                <tr>
                    <td>Los dias: </td>
                    <td><label for="weekly_0"><input type="checkbox" id="weekly_0" />Lunes </label></td>
                    <td><label for="weekly_1"><input type="checkbox" id="weekly_1" />Martes </label></td>
                    <td><label for="weekly_2"><input type="checkbox" id="weekly_2" />Miercoles </label></td>
                    <td><label for="weekly_3"><input type="checkbox" id="weekly_3" />Jueves </label></td>
                    <td><label for="weekly_4"><input type="checkbox" id="weekly_4" />Viernes </label></td>
                    <td><label for="weekly_5"><input type="checkbox" id="weekly_5" />Sabado </label></td>
                    <td><label for="weekly_6"><input type="checkbox" id="weekly_6" />Domingo </label></td>
                </tr>
            </table>
        </div>

        <div id="select_monthly">
            Repetir los dias <input id="monthly_every" style="width: 20px;" value="1" /> de cada mes.
            <div id="select_monthly_error" style="display:none; margin-top: 5px; padding: 2px; background-color: #FFF1A8;">Please select at least one day:</div>
            <br />
        </div>


    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
