@model Plenamente.Models.ActiCumplimiento

@{
    ViewBag.Title = "Detalle de la actividad";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Detalle de la actividad</p>
</div>

<div>
    
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Acum_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acum_Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Acum_Porcentest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acum_Porcentest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Acum_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acum_Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acum_IniAct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acum_IniAct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acum_FinAct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acum_FinAct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.asigrecursos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asigrecursos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finalizada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finalizada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oemp_Id)
        </dt>

        <dd>
            @ViewData["obj_name"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Frec_Id)
        </dt>

        <dd>
            @ViewData["frec_name"]
        </dd>
        @if (Model.Frec_Id == 2 || Model.Frec_Id == 4)
        {
        <dt>
            @Html.DisplayNameFor(model => model.Repeticiones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repeticiones)
        </dd>
        }
         @if (Model.Frec_Id == 3)
        {
        <dt>
            @Html.DisplayNameFor(model => model.DiasSemana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasSemana)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @ViewData["username"]
        </dd>






    </dl>
</div>
<p>
    <a class="btn btn-info" href="@Url.Action("Edit", "ActividadCumplimiento", new { id = Model.Acum_Id })" title="Editar">
        Editar
    </a>
    <a href="@Url.Action("Index", "ActividadCumplimiento")" class="ayudaTitulos">
        <span>Volver al inicio</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" />
    </a>
</p>
