@model Plenamente.Models.ActiCumplimiento

@{
    ViewBag.Title = "Editar actividad";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}


<div class="colorVerdeBack">
    <p>Editar actividades</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="contenidoCuerpo">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Acum_Id)
    @Html.HiddenFor(model => model.Acum_Ejec)
    @Html.HiddenFor(model => model.Acum_Registro)
    <input type="hidden" value="@ViewData["userid"]" id="Id" name="Id"/>
    @Html.HiddenFor(model => model.Peri_Id)
    @Html.HiddenFor(model => model.Empr_Nit)
    @Html.HiddenFor(model => model.Frec_Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Acum_Desc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Acum_Desc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Acum_Desc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Acum_Porcentest, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Acum_Porcentest, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Acum_Porcentest, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Oemp_Id, htmlAttributes: new { @class = "control-label col-md-8" })
        <div class="col-md-5">

            @Html.DropDownListFor(x => x.Oemp_Id, (SelectList)ViewBag.objetivosEmpresa, "Objetivo", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Oemp_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Acum_IniAct, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.Acum_IniAct, new { htmlAttributes = new { @class = "form-control", @type = "date", @min = DateTime.Today.ToString("yyyy-MM-dd"), @max = DateTime.Today.ToString("yyyy-12-31") } })
            @Html.ValidationMessageFor(model => model.Acum_IniAct, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Acum_FinAct, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.Acum_FinAct, new { htmlAttributes = new { @class = "form-control", @type = "date", @min = DateTime.Today.ToString("yyyy-MM-dd"), @max = DateTime.Today.ToString("yyyy-12-31") } })
            @Html.ValidationMessageFor(model => model.Acum_FinAct, "", new { @class = "text-danger" })
        </div>

    </div>






    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
