@model Plenamente.Models.ExpandedUserDTO
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Crear un nueva persona</p>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="centrarContenido">
    <h2 class="colorVerdeBack1">Información Básica Del Trabajador</h2>
    <div class="plegable">
        <br />
        <br />
        Nombres:
        <br />
        <br />
        @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Apellidos:
        <br />
        <br />
        @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Tipo de documento:
        <br />
        <br />
        @Html.DropDownListFor(model => model.Tdoc_Id, (SelectList)ViewBag.Tdoc_Id, "Tipo De Documento", htmlAttributes: new { @class = "estilosSelect" })
        <br />
        <br />
        Documento:
        <br />
        <br />
        @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "estilosSelect" } })
        <br />
        <br />
        Email:
        <br />
        <br />
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Contraseña:
        <br />
        <br />
        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Tipo de Usuario:
        <br />
        <br />
        @Html.DropDownList("Roles", null, htmlAttributes: new { @class = "estilosSelect" })
        <br />
        <br />
    </div>
    <br />
    <br />
    <h2 class="colorVerdeBack1">Información Personal Del Trabajador</h2>
    <div class="plegable">
        <br />
        <br />
        Licencia De Conducción N°:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_Licencia, new { htmlAttributes = new { @class = "estilosSelect" } })
        <br />
        <br />
        Fecha de vencimiento:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_LicVence, new { htmlAttributes = new { @class = "estilosSelect" } })
        <br />
        <br />
        Dirección de residencia:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_Direccion, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Contacto de emergencia:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_ContactoEmeg, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Número de emergencia:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_TelefonoEmeg, new { htmlAttributes = new { @class = "estilosSelect" } })
        <br />
        <br />
    </div>
    <br />
    <br />
    <h2 class="colorVerdeBack1">Asociaciones Del Trabajador</h2>
    <div class="plegable">
        <br />
        <br />
        Administrador de fondo de pensiones:
        <br />
        <br />
        @Html.DropDownListFor(model => model.Afp_Id, (SelectList)ViewBag.Afp_Id, "Fondo de pensión", htmlAttributes: new { @class = "estilosSelect" })
        <br />
        <br />
        Entidad Administradora de Salud:
        <br />
        <br />
        @Html.DropDownListFor(model => model.Eps_Id, (SelectList)ViewBag.Eps_Id, "Eps...", htmlAttributes: new { @class = "estilosSelect" })
        <br />
        <br />
        Entidad Administradora de Riesgos Laborales:
        <br />
        <br />
        @Html.DropDownListFor(model => model.Arl_Id, (SelectList)ViewBag.Arl_Id, "Arl...", htmlAttributes: new { @class = "estilosSelect" })
        <br />
        <br />
    </div>
    <br />
    <br />
    <input type="submit" value="Guardar" class="btn btn-default" />
</div>

<div class="contenidoVolver">
    <a href="@Url.Action("Manageusers", "Admin")" class="ayudaTitulos"><span>Volver a la lista</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" /><p></p></a>
</div>
    }
