@model Plenamente.Models.ApplicationUser
@{
    ViewBag.Title = "EditarUser";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p> Editar Usuario </p>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="centrarContenido">
    <h2 class="colorVerdeBack1">Información Básica Del Trabajador</h2>
    <div class="plegable">
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                Nombre
                @Html.EditorFor(model => model.Pers_Nom1, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pers_Nom1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Apellido
                @Html.EditorFor(model => model.Pers_Apel1, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pers_Apel1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Tipo Documento
                @Html.DropDownList("Tdoc_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tdoc_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                No Documento
                @Html.EditorFor(model => model.Pers_Doc, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pers_Doc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Género
                @Html.DropDownList("Gene_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gene_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Estado
                @Html.DropDownList("Espe_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Espe_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                No. de licencia de conducir
                @Html.EditorFor(model => model.Pers_Licencia, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pers_Licencia, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Fecha de vigencia de la licencia
                @Html.EditorFor(model => model.Pers_LicVence, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pers_LicVence, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Categoria Licencia
                @Html.DropDownList("Cate_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cate_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Direccíon de Residencia
                @Html.EditorFor(model => model.Pers_Dir, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pers_Dir, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Contacto de emeregencia
                @Html.EditorFor(model => model.Pers_Cemeg, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pers_Cemeg, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Teléfono de emergencia
                @Html.EditorFor(model => model.Pers_Temeg, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pers_Temeg, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Aseguradora de riesgos profesionales
                @Html.DropDownList("Afp_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Afp_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Empresa promotora de salud
                @Html.DropDownList("Eps_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Eps_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Aseguradora de riesgos laborales
                @Html.DropDownList("Arl_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Arl_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Aseguradora de riesgos laborales
                @Html.DropDownList("Tvin_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tvin_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Direccíon de Residencia
                @Html.EditorFor(model => model.Pers_Dir, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Pers_Dir, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Email
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("Empr_Nit", null, htmlAttributes: new { @class = "hidden" })
                @Html.ValidationMessageFor(model => model.Empr_Nit, "", new { @class = "text-danger" })
            </div>
        </div>
        <label asp-for="Username" class="col-md-4 control-label" hidden> @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "" } })  </label>
        <input type="submit" value="Guardar" class="btn btn-default" />
        <div class="contenidoVolver">
            <a href="@Url.Action("Users", "Admin")" class="ayudaTitulos"><span>Volver a la lista</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" /><p></p></a>
        </div>


    </div>
    </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

