@model IEnumerable<Plenamente.Models.ExpandedUserDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Empr_Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pers_Licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pers_LicVence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pers_Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pers_ContactoEmeg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pers_TelefonoEmeg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tdoc_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sciu_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciud_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cemp_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aemp_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cate_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gene_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jemp_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tvin_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eps_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afp_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arl_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Espe_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jefe_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Empr_Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pers_Licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pers_LicVence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pers_Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pers_ContactoEmeg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pers_TelefonoEmeg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tdoc_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sciu_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciud_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cemp_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aemp_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cate_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gene_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jemp_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tvin_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eps_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afp_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arl_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Espe_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jefe_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserName }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserName })
        </td>
    </tr>
}

</table>
