@model  IEnumerable<Plenamente.Models.ViewModel.EventViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<section class="contenidoSection">
    <div class="contenidoDiv">
        @*Seccion de graficos*@
        <div style="    border: solid 2px;border-color: #929292;margin: 20px;padding: 40px;">
            <p style="    font-size: 22px;font-weight: bolder;"><img src="~/Imagenes/home1.png" style="width: 3%;" />Medición del sistema</p>
            <section class="graficosSection" style="">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <canvas id="chartPromedio" class="chart-container marco" chart-route="/Indicadores/PromedioAutoevaluaciones" chart-type="horizontalBar"></canvas>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <canvas id="chartAvance" class="chart-container marco" chart-route="/Indicadores/AvanceAutoevaluaciones" chart-type="line"></canvas>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <canvas id="chartUltima" class="chart-container marco" chart-route="/Indicadores/UltimaAutoevaluacion" chart-type="pie"></canvas>
                    </div>

                </div>

                @*<div class="graficoA">
                        <center>
                            <p style="text-align:left;font-size: 18px;font-weight: 600;padding: 5px 1px 14px 5px;">Medición del ciclo PHVA</p>
                            <img src="~/Imagenes/grafica3.png" />
                        </center>
                    </div>
                    <div class="graficoB">
                        <center>
                            <p style="text-align:left;font-size: 18px;font-weight: 600;padding: 5px 1px 14px 5px;">Alcance del plan de trabajo anual</p>
                            <img src="~/Imagenes/grafica2.png" />
                        </center>
                    </div>
                    <div class="graficoC">
                        <p style="text-align:left;font-size: 18px;font-weight: 600;padding: 5px 1px 14px 5px;">Cumplimiento SG-SST</p>
                        <center><img src="~/Imagenes/grafica1.png" /></center>
                    </div>*@
                @*<div class="graficoD">
                        <p style="text-align:center;font-size: 18px;font-weight: 600;">Cumplimiento</p>
                        <hr class="claseDivicion" />
                        <center><img src="~/Imagenes/graph (2).png" /></center>
                    </div>*@
            </section>
        </div>
        @*Tareas + Periodico Virtual y modulos*@
        <section class="tareasmoduloSection">
            <div class="">
                <div class="tareasDiv" style=" overflow: scroll;">
                    <p><img src="~/Imagenes/list.png" /> &nbsp; &nbsp;Mis tareas</p>
                    <hr class="claseDivicion" />
                    <ul class="list-group">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item">
                                <i style="color: @item.BorderColor;"></i>
                                <a href="@Url.Action("Cumplimiento", "AutoEvaluacion", new { idItem = item.Id })" title="@item.Description">
                                    <span style="color: @item.BorderColor;">@item.Title </span> - 
                                    <span style="color: darkgray;">@item.StartDate</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="tareasDiv">
                    <p><img src="~/Imagenes/list.png" /> &nbsp; &nbsp;Tips SST</p>
                    <hr class="claseDivicion" />

                    <ul>
                        <li><p>Realizar pausas activas cada dos horas, mejora la condición física del trabajador y reduce los niveles de estrés</p></li>
                    </ul>
                </div>
            </div>
            <div class="moduloDiv">
                <p class="fadeIn two tituloModulos" style="font-size:25px">Módulo de formación.</p>
                <hr class="claseDivicion" />
                <p class="fadeIn two">Sistema de capacitación</p>
                <br />
                <img class="fadeIn three" src="~/Imagenes/capacitacion.png" /> @*343134*@
                <p class="fadeIn two">Cultura segura</p>
                <br />
                <img class="fadeIn three" src="~/Imagenes/seguro.JPG" />
                <p class="fadeIn two">Sistema de acompañamiento</p>
                <br />
                <img class="fadeIn three" src="~/Imagenes/acompañamiento.jpg" />
                <a class="linkPrincipal" href="http://aprendeyavanza2.com.co/plenamentecap">Ir al Sistema</a>
            </div>

        </section>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chartjs")
}
