@model IEnumerable<Plenamente.Models.Empresa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Arl.Arl_Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaseArl.Carl_Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empr_Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empr_Dir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empr_Afiarl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empr_Ttrabaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empr_Itrabaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empr_Registro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Arl.Arl_Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaseArl.Carl_Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empr_Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empr_Dir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empr_Afiarl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empr_Ttrabaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empr_Itrabaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empr_Registro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Empr_Nit }) |
            @Html.ActionLink("Details", "Details", new { id=item.Empr_Nit }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Empr_Nit })
        </td>
    </tr>
}

</table>
