@model Plenamente.Models.PlandeTrabajo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlandeTrabajo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empresa.Empr_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empresa.Empr_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plat_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plat_Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Plat_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
