@model IEnumerable<Plenamente.Models.PlandeTrabajo>

@{
    ViewBag.Title = "Plan de trabajos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Planes de trabajo</p>
</div>
<div class="contenidoCuerpo">  
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empresa.Empr_Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plat_Nom)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.empresa.Empr_Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plat_Nom)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Plat_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Plat_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Plat_Id })
                </td>
            </tr>
        }

    </table>

</div>


