@model IEnumerable<Plenamente.Models.PlandeTrabajo>

@{
    ViewBag.Title = "Plan de trabajos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Planes de trabajo</p>
</div>
<div class="contenidoCuerpo">
    <div>

        <a class="btn btn-success" href="@Url.Action("Create")" title="Ver reporte">
            Crear
        </a>

    </div>
    <br />
    <table class="table table-bordered text-center justify-content-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plat_Nom)
            </th>
            <th>
                Actividades
            </th>
            <th>
                Opciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Plat_Nom)
                </td>
                <td>
                    <a class="btn btn-success" href="@Url.Action("Modificar", "Create")" title="Detalles">
                        Ver Actividades
                    </a>
                </td>
                <td>
                    <a class="btn btn-secondary" href="@Url.Action("Modificar", "Create")" title="Detalles">
                        Detalles
                    </a>
                    <a class="btn btn-info" href="@Url.Action("Modificar", "Create")" title="Modificar">
                        Modificar
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Eliminar", "Create")" title="Eliminar">
                        Eliminar
                    </a>

                </td>
            </tr>
        }

    </table>

</div>
<div class="contenidoVolver">
    <a href="@Url.Action("Index", "Home")" class="ayudaTitulos">
        <span>Volver al inicio</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" />
    </a>
</div>

